# Copy this to .env and fill in real values
BASE_URL=http://localhost:3000
SENDER_EMAIL=sender@test.com
SENDER_PASSWORD=
SIGNER_EMAIL=signer@test.com
SIGNER_PASSWORD=
INBUCKET_URL=http://localhost:9000
